*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--cell-size: 200px;
	--mark-size: calc(var(--cell-size) * 0.9);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	width: 100vw;
	height: 100vh;
}

#grid {
	display: grid;
	grid-template-rows: var(--cell-size) var(--cell-size) var(--cell-size);
	grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size);
	align-items: center;
	justify-content: center;
	gap: 1px;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	background: #444;
	border: 1px solid #000000;
	color: #aaa;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell.x,
.cell.o {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
	position: absolute;
	content: "";
	width: calc(var(--mark-size) * 0.9);
	height: calc(var(--mark-size) * 0.9);
	background-color: rgb(151, 128, 128);
	clip-path: polygon(
		24% 9%,
		8% 22%,
		30% 50%,
		9% 71%,
		18% 91%,
		46% 63%,
		69% 92%,
		90% 71%,
		68% 51%,
		97% 9%,
		63% 8%,
		47% 31%
	);
}

.cell.o::before,
.cell.o::after {
	position: absolute;
	content: "";
	border-radius: 50%;
	border: 2px solid #444;
}

.cell.o::before {
	width: calc(var(--mark-size));
	height: calc(var(--mark-size));
	background-color: rgb(141, 123, 123);
	clip-path: polygon(
		50% 0%,
		68% 7%,
		90% 30%,
		97% 50%,
		90% 70%,
		68% 93%,
		50% 100%,
		32% 93%,
		10% 70%,
		3% 50%,
		10% 30%,
		32% 7%
	);
}

.cell.o::after {
	width: calc(var(--mark-size) * 0.8);
	height: calc(var(--mark-size) * 0.8);
	clip-path: polygon(
		50% 0%,
		68% 7%,
		90% 30%,
		97% 50%,
		90% 70%,
		68% 93%,
		50% 100%,
		32% 93%,
		10% 70%,
		3% 50%,
		10% 30%,
		32% 7%
	);
	background: #444;
}
